#centered_small_icon{
    background-color: blue;
    width: 400px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('https://mdn.mozillademos.org/files/11947/ff-logo.png');
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    margin-bottom: 10px;
}
#green_line{
    background-color: green;
    width: 400px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
#full_width_icon{
    background-color: red;
    width: 400px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('https://mdn.mozillademos.org/files/11947/ff-logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}
#repeated_icon{
    background-color: gold;
    width: 400px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('https://mdn.mozillademos.org/files/11947/ff-logo.png');
    background-repeat: repeat;
    background-size: 50px;
    margin-bottom: 10px;
}