#figure1{
border: solid black 1px;
height: 200px;
width: 200px;
}
#figure2{
border: solid black 5px;
padding: 20px;
height: 20px;
width: 1200px;
}
#figure3{
border: solid blue 1px;
margin: 10px;
height: 20px;
width: 1150px;
}
#figure4{
border: solid lightblue 3px;
border-radius: 20px;
height: 150px;
width: 50%;
}
#figure5{
border: solid black 1px;
padding: 10px;
height: 5px;
width: 1200px;
}
#figure6{
margin-left: 10px;
border: solid black 1px;
padding: 10px;
height: 5px;
width: 1200px;
}
#figure7{
margin-top: 10px;
padding: 20px;
border: solid lightblue 3px;
border-radius: 20px;
height: 100px;
width: 100px;
margin-left: auto;
margin-right: auto;
}