main{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
nav{
    background-color: aquamarine;
    margin: 10px;
    display: flex;
}
.button{
    padding: 5px;
}
#first{
    flex-direction: row;
    justify-content: space-between;

}
#second{
    flex-direction: column-reverse;

}
#third{
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

#forth .button{
    background-color: lightgreen;
    margin: 10px;
}
#forth .b3{
    order: -1;
}
#forth .b2{
    flex-glow: 2;
}
