header{
    background-color: black;
    color: white;
    padding: 50px;
}
header a{
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gallery div{
    padding: 20px;
    text-align: center;
 }
body{
    margin: 0px;
}
@media (max-width: 600px) {
    header {
        text-align: center;
    }
    nav{
        flex-direction: column;
    }
}