.box{
    background-color: darkseagreen;
    width: 150px;
    height: 100px;
    padding: 20px;
    border: 5px;
}
#first_box{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
#second_box{
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
#next-section{
    clear: both;
}
