#container{
    grid-template-areas:
        "menu logo content"
        "menu footer footer";
    display: grid;
    grid-template-columns: 200px 200px auto;
    text-align: center;
}

#menu{
    background: deepskyblue;
    grid-area: menu;
}
#logo{
    background: darkred;
    grid-area: logo;
}
#content{
    background: orangered;
    grid-area: content;
}
#footer{
    background: greenyellow;
    grid-area: footer;
}
@media (max-width: 800px) {
    #container{
        grid-template-areas:
            "menu menu"
            "logo content"
            "footer footer";
        grid-template-columns: 100px auto;
    }
}