body{
    background-color: darkseagreen;
}
#titol{
    background-image: url("https://images.unsplash.com/photo-1495467033336-2effd8753d51?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    color: whitesmoke;
    border: solid black 3px;
}
.index{
    color: whitesmoke;
}
#cap{
    color: aliceblue;
    background-image: url("https://images.unsplash.com/photo-1558373749-bdd262865074?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    border: solid black 3px;
}
#tortuga{
    border: double black 5px;
    background-color: aquamarine;
}
#nutria{
    border: double black 5px;
    background-color: peru;
}
#bat{
    border: double black 5px;
    background-color: darkorchid;
}
#tot{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cos{
    background-color: dodgerblue;
}
.cos2{
    background-color: gold;
}
.cos3{
    background-color: hotpink;
}
#follow{
    border: double black;
    background-color: seagreen;
}
#llic{
    border: double black;
    background-color: seagreen;
}
#bib{
    border: double black;
    background-color: seagreen;
}
@media (max-width: 1300px) {
    #tot{
        flex-direction: column;
        text-align: center;
    }
    .mig{
        flex-direction: column;
        text-align: center;
    }
    #follow{
        flex-direction: column;
        text-align: center;
    }
    #bib{
        flex-direction: column;
        text-align: center;
    }
    #llic{
        flex-direction: column;
        text-align: center;
    }
}