p{
    border: solid black 1px;
}
#figure1{
    background-color: dodgerblue;
}
#figure2{
    background-color: coral;
}
#figure3{
    background-color: lightpink;

}

@media  (max-width: 800px){
    #figure2{
        display: none;
    }

}

@media (min-width: 801px) {
    #figure1{
        font-size: 50px;
        font-weight: bold;
    }

    #figure3{
        padding: 100px;
    }

}